@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  body {
    color: rgb(0,0,0);
    background:rgb(0, 0, 0)
  }
}

body {
  color: rgb(0, 0, 0);
  background: rgb(0, 0, 0)
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.marquee {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  animation: marquee 15s linear infinite;
}